/__MACOSX
/__pycache__
/.doc
/.Image
/.Test
/.venv
/.vscode
/recognitionDemo/__pycache__
/recognitionDemo/DNN
/recognitionDemo/face_database
/recognitionDemo/face_database copy
/recognitionDemo/FER/model.h5
/static/thumbnails
face_recognition.log
temp_face.jpg
/static/face_database
face_pairings.json
