.venv/
temp_face.jpg
Test/
/doc
.vscode/
recognitionDemo/FER/model.h5
/Image
/recognitionDemo/DNN
/recognitionDemo/face_database
/static/thumbnails
/__pycache__
/recognitionDemo/__pycache__
/recognitionDemo/face_database copy
/face_database
__MACOSX/
face_recognition.log
